#header{
    color: #2E2F42;
    background-color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    

}
.header-logo{
font-family: "Releway", sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.03em;
text-decoration: none;
line-height: 24px;
}

.logo-span {
    color:#4D5AE5;
}

.navigation-menu{
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: inherit  
}

.navigation-menu a{
    text-decoration: none;
}

.contacts{
    line-height: 1.5;
    font-size: 16px;
    list-style-type: none;
    letter-spacing: 0.02em;
}
.contacts a{
    text-decoration: none;
    color:#434455;
    color: inherit

}

