#hero {
    background-color:#2E2F42;
}
.container{
    max-width: 1158px;
}
#hero h1{
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
#hero button{
    background-color:#4D5AE5;
    color:#FFFFFF;
    cursor: pointer;
}